.card{
    max-width: 20%;
    min-width: 20%;
    padding: 30px;
}
.card img{
    width: 100%;
    cursor: pointer;
    border: 3px solid #F3FBFA;
}
@media (max-width: 768px) {
    .card{
        min-width: 50%;
        padding: 0;
    }
}